<!DOCTYPE html>
<html>
<head>
  <title>Zxxk Crawler Stats</title>
  <link rel="stylesheet" type="text/css" href="static/stylesheet1.css">
</head>
<body>
<div class="container-header">
  <img id="logo" src="static/logo.jpg" />
</div>
<div class="container-main">
    <div class="container-main-sub">
      <div class="container-main-sub-sub"></div>
        <div class="container-main-sub-sub">
          <div class="wrapper-main">
            <a href='/subjectstats' style='text-decoration: none'><div class='button-large'><p>Weekly Stats</p></div></a>
            <a href='/monthlystats' style='text-decoration: none'><div class='button-large'><p>Monthly Stats</p></div></a>
            <h1><span>xkw</span>.Statistics</h1>
          </div>
        </div>
      <div class="container-main-sub-sub"></div>
    </div>
    <div class="container-sub-1"></div>
</div>
</body>
</html>
