$def with (findings)

<!DOCTYPE html>
<html>
  <head>
    <title>Zxxk Crawler Stats</title>
    <link rel="stylesheet" type="text/css" href="static/stylesheet1.css">
  </head>
  <body>
    <div class="container-header">
      <img id="logo" src="static/logo.jpg" />
    </div>
    <div class="container-search">
      <form>
        <!-- Start date: &nbsp;
        <input type='date' name='sdate' value='$findings[0]'> -->
        Province: &nbsp;
        <select name='province_filter'>
          <option value="0">ALL</option>
          <option value="1">北京</option>
          <option value="2">天津</option>
          <option value="3">河北</option>
          <option value="4">山西</option>
          <option value="5">内蒙古</option>
          <option value="6">辽宁</option>
          <option value="7">吉林</option>
          <option value="8">黑龙江</option>
          <option value="9">上海</option>
          <option value="10">江苏</option>
          <option value="11">浙江</option>
          <option value="12">安徽</option>
          <option value="13">福建</option>
          <option value="14">江西</option>
          <option value="15">山东</option>
          <option value="16">河南</option>
          <option value="17">湖北</option>
          <option value="18">湖南</option>
          <option value="19">广东</option>
          <option value="20">广西</option>
          <option value="21">海南</option>
          <option value="22">重庆</option>
          <option value="23">四川</option>
          <option value="24">贵州</option>
          <option value="25">云南</option>
          <option value="26">西藏</option>
          <option value="27">陕西</option>
          <option value="28">甘肃</option>
          <option value="29">青海</option>
          <option value="30">宁夏</option>
          <option value="31">新疆</option>
          <option value="32">台湾</option>
          <option value="33">香港</option>
          <option value="34">澳门</option>
        </select>
        &nbsp;
        <input type="submit" value='Get Stats'>
      </form>
    </div>
    <div class="container-main">
      <div class="container-sub-table">
        <h4> $findings[1]</h4>
        <table style="font-size: 10px">
        <tr>
          <th>网站/学科</th>
          $for dates in findings[2]:
          <th>$dates</th>
        </tr>
        $for site in findings[3]:
          <tr>
            <td>$site[0]</td>
            $for data in site[1:]:
              $if type(data) == list:
                <td class='td_biggest'>$data[0]</td>
              $else:
                <td>$data</td>
          </tr>
        </table>
      </div>
      <div class="container-sub-1">
        <div class="wrapper-btn-2">
          <a href='/' class="main-page" style="text-decoration: none">
            <div class='button-small'>
              <p>Back</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
